.loginContainer {
  margin-top: 80px;
  width: 90%;

  .contentLeft {
    /*     border: 4px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .brand {
      width: 70%;
      justify-content: center;
      color: rgb(48, 48, 216);
      font-size: 36px;
      font-weight: bold;
    }
    .desc {
      font-size: 18px;
      margin-top: 10px;
      width: 70%;
      color: #555;
    }
  }
  .contentRight {
    /*    border: 4px solid orange; */
    border-radius: 10px;
    width: 34%;
  }
}
